<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../../node_modules/angular-route/angular-route.js"></script>
    <script src="../commons/game-board-service.js"></script>
    <script src="gameplay.js"></script>

</head>
<body ng-app="leela.gameplay">
<div ng-controller="GameplayController">
    <pre>{{ current_position }}</pre>
    <button ng-click="moveChip(1)">1</button>
    <button ng-click="moveChip(2)">2</button>
    <button ng-click="moveChip(3)">3</button>
    <button ng-click="moveChip(4)">4</button>
    <button ng-click="moveChip(5)">5</button>
    <button ng-click="moveChip(6)">6</button>
    <pre> {{board.space_cell}}</pre>
</div>
<div ng-controller="HistoryController">
    <pre>{{ showHistory() }}</pre>
</div>
</body>
</html>