<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../../node_modules/angular-route/angular-route.js"></script>
    <script src="../commons/game-board-service.js"></script>
    <script src="gameplay.js"></script>

</head>
<body ng-app="leela.gameplay" class="gameplay1">
<div class="gameplay2">
    <div ng-hide="game.finished">
        <pre>{{ game.current_position }} {{board.cells[game.current_position].title}}</pre>
        <button ng-click="moveChip(1)">1</button>
        <button ng-click="moveChip(2)">2</button>
        <button ng-click="moveChip(3)">3</button>
        <button ng-click="moveChip(4)">4</button>
        <button ng-click="moveChip(5)">5</button>
        <button ng-click="moveChip(6)">6</button>
        <pre> {{game.deposit}}</pre>
    </div>
    <div ng-hide="!game.finished">
        <p>Вы закончили игру.</p>
        <button ng-click="startNewGame()">Start new game</button>
    </div>

    <div>
        <ul ng-repeat="index in showHistory().slice().reverse() track by $index">
            <li>{{index}}. {{board.cells[index].title}}</li>
            <button ng-show="$index == 0" ng-click="undoLastMove()">X</button>
        </ul>
        <pre>{{ showHistory() }}</pre>
    </div>
</body>
</html>