<!doctype html>
<html ng-app="Lilu">
<head>
    <script src="app/js/vendor/custom.modernizr.js"></script>
    <script src="app/js/vendor/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/foundation.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <script src="app/js/main.js"></script>
</head>
<body>

<div ng-controller="ServiceController">
    <label for="username">Type in a GitHub username</label>
    <input type="text" ng-model="username" placeholder="Enter a GitHub username, like auser" />
    <pre ng-show="username">{{ events }}</pre>
</div>

<div class="row">
    <h1>NPR player</h1>
</div>

<div class="container row">
    <div class="large-8 small-8 columns">
        <h2>Player</h2>

        <div ng-controller="PlayerController">
            <ul id="programs_list" class="">
                <li ng-repeat="program in programs">
                    <span npr-link play='play(program)' ng-model="program"></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="large-4 small-4 columns" ng-controller="RelatedController">
        <h2>Related content</h2>
    </div>
</div>
Playing audio: <b>{{ playing }}</b>

<div ng-controller="ClockController">
    <h5>{{ clock }}</h5>
</div>

<div ng-controller="DemoController">
    <h4>The simplest adding machine ever</h4>
    <button ng-click="add(1)" class="button">Add</button>
    <button ng-click="subtract(1)" class="button">Subtract</button>
    <h4>Current count: {{ counter }}</h4>
</div>
</body>
</html>